.button {
  background-color: #232323;
  color: #ffffff;
  width: 6.6rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: 0px 0px 5px #000000;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #706f6f;
}
