.link {
  background: linear-gradient(to top, #6d9bff, #1e61a9 90%);
  width: 10rem;
  height: 2.4rem;
  border-radius: 0.2rem;
  font-weight: 700;
  box-shadow: 0px 0px 4px #050505;
  text-align: center;
  text-decoration: none;
  line-height: 2.2;
  color: #fff;
}
.link:hover {
  color: #232323;
  background: linear-gradient(to bottom, #6d9bff, #fcfcfc 90%);
  transition: 0.2s;
}
